.ar_container{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    margin: auto;
    padding: 1%;
}
.input{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    margin: auto;
    padding: 1%;
}
#outlined-basic{
    width: 100%;
}
.button{
    display: flex;
    justify-content: flex-end;
   
   
    width: 100%;
}
.b1{
    margin: 2% !important;
}